<div class="position-timer">
    <div class="timer timer-clock">
        <span>{{timer.minutes}}<span [ngClass]="{'blink': !isPaused}">:</span>{{ timer.seconds}}<span
                [ngClass]="{'blink': !isPaused}">.</span>{{timer.milliseconds}}</span>
    </div>
    <div id="button-wrapper" class="container-btn text-font">
        <div (click)="tooglePlay()" class="play-pause-btn">
            <span>
                <i class="fa" [ngClass]="{'fa-play': isPaused, 'fa-pause' : !isPaused}"> </i>
                {{isPaused ? 'Play': 'Pause'}}
            </span>
        </div>
        <div (click)="addTimer()" class="trash-add-btn">
            <i class="fa fa-clock-o"></i>
        </div>
        <div (click)="resetTimer()" class="trash-add-btn">
            <i class="fa fa-trash-o"></i>
        </div>
    </div>

    <app-present-list-of-timer [listOfTimer]="listOfTimer" (deleteTimer)="timerToRemove($event)">
    </app-present-list-of-timer>
</div>