.white-time-in-list {
    color: white;
    border-bottom: 1px solid #5E5E5E;
    width: 100%;
    padding: 10px 0;
    height: 2rem;
}

.white-time-in-list:last-child {
    border-bottom: none;
}

.white-time-in-list:last-child div {
    padding: 0;
}

.clock-font {
    font-size: 20px;
    text-align: left;
}

.white-time-in-list .clock-font .timer-clock {
    opacity: 0.2;
    top: 0;
}

.white-time-in-list:hover .remove {
    display: block;
}

.remove {
    position: absolute;
    right: 30rem;
    color: white;
    background-color: red;
    padding: 5px;
    border: none;
    font-size: 11px;
    display: none;
}

.clock-font {
    font-family: 'Digital7';
}

.clock-font .timer-clock {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 100%;
}