@font-face {
    font-family: 'Digital7';
    src: url('./app/fonts/digital-7.mono.ttf');
}

body {
    background-color: #333333;
}

.timer-clock>span {
    position: relative;
    z-index: 1;
}

.timer-clock>span::before {
    content: '88:88.88';
    position: absolute;
    opacity: 0.2;
    z-index: -1;
    white-space: nowrap;
}